{% extends "base/base.html" %}

{% block title %}
ELIMINAR VISTA DE JUGADORES
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">   Eliminar Jugador</div>
            <div class="card-body">
              <h4 class="card-title">{{ object.nombre }}</h4>
              <p>¿Realmente deseas eliminar a este jugador?</p>
              <button type="submit" class="btn btn-danger">Eliminar Jugador</button>
              <a href="{% url 'core:list_jugadores' %}" class="btn btn-warning">Cancelar</a>
            </div>
          </div>
    </form>
{% endblock content %}  
