{% extends "base/base.html" %}

{% block title %}
VER LISTA JUGADORES
{% endblock title %}

{% block content %}
<br>
<hr>
    <a href="{% url 'core:create_jugadores' %}" class="btn btn-outline-success form-control">Crear un nuevo jugador</a>
    <table class="table table-striped table-hover">
        <thead>
            <th style="background-color: black; color: white; text-align: center;">ID</th>
            <th style="background-color: black; color: white; text-align: center;">NOMBRE</th>
            <th style="background-color: black; color: white; text-align: center;">POSICIÓN</th>
            <th style="background-color: black; color: white; text-align: center;">EQUIPO</th>
            <th style="background-color: black; color: white;"></th>
            <th style="background-color: black; color: white; text-align: center;">ACCIONES</th>
            <th style="background-color: black; color: white;"></th>
        </thead>
        <tbody>
            {% for jugador in jugadores %}
                <tr>
                    <td style="background-color: black; color: white;  text-align: center;">{{ jugador.id }}</td>
                    <td style="background-color: gray;">{{ jugador.nombre }}</td>
                    <td style="background-color: rgb(186, 186, 186); text-align: center; ">{{ jugador.posicion }}</td>
                    <td style="background-color: rgb(214, 211, 211); text-align: center; ">{{ jugador.equipo.nombre }}</td>

                    <td style="text-align: center;"><a href="{% url 'core:detail_jugadores' jugador.id %}" class="btn btn-outline-info">Detalle</a></td>
                    <td style="text-align: center;"><a href="{% url 'core:update_jugadores' jugador.id %}" class="btn btn-outline-warning">Actualizar</a></td>
                    <td style="text-align: center;"><a href="{% url 'core:delete_jugadores' jugador.id %}" class="btn btn-outline-danger">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
{% endblock content %}
