{% extends "base/base.html" %}

{% block title %}
VER LISTA ESTADIO
{% endblock title %}

{% block content %}
<br>
<hr>
    <a href="{% url 'core:create_estadios' %}" class="btn btn-outline-success form-control">Crear un nuevo estadio</a>
    <table class="table table-striped table-hover">
        <thead >
            <th style="background-color: black; color: white; text-align: center;">ID</th>
            <th style="background-color: black; color: white; text-align: center;">NOMBRE DEL ESTADIO</th>
            <th style="background-color: black; color: white; text-align: center;">CIUDAD</th>
            <th style="background-color: black; color: white; text-align: center;">CAPACIDAD</th>
            <th style="background-color: black; color: white;"></th>
            <th style="background-color: black; color: white; text-align: center;">ACCIONES</th>
            <th style="background-color: black; color: white;"></th>
        </thead>
        <tbody>
            {% for estadio in estadios %}
                <tr>
                    <td style="background-color: black; color: white;  text-align: center;">{{ estadio.id }}</td>
                    <td style="background-color: gray;">{{ estadio.nombre }}</td>
                    <td style="background-color: rgb(186, 186, 186); text-align: center; ">{{ estadio.ciudad }}</td>
                    <td style="background-color: rgb(214, 211, 211); text-align: center; ">{{ estadio.capacidad }}</td>
                    <td style="text-align: center;"><a href="{% url 'core:detail_estadios' estadio.id %}" class="btn btn-outline-info">Detalle</a></td>
                    <td style="text-align: center;"><a href="{% url 'core:update_estadios' estadio.id %}" class="btn btn-outline-warning">Actualizar</a></td>
                    <td style="text-align: center;"><a href="{% url 'core:delete_estadios' estadio.id %}" class="btn btn-outline-danger">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
{% endblock content %}
