{% extends "base/base.html" %}

{% block title %}
VISTA DETALLADA DE EQUIPO
{% endblock title %}

{% block content %}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                {{ equipo }}
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>Este es el equipo: {{ equipo.nombre }}.</strong> Son de la liga {{ equipo.liga }}, Fundación de la liga: {{ equipo.fundacion }}.
                {% if equipo.ciudad %}
                    Son de la ciudad {{ equipo.ciudad }}.
                {% endif %}
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Detalles
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <a href="{% url 'core:list_equipos' %}" class="btn btn-link">Volver a la lista</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
