{% extends "base/base.html" %}

{% block title %}
VER LISTA EQUIPO
{% endblock title %}

{% block content %}
<br>
<hr>
    <a href="{% url 'core:create_equipos' %}" class="btn btn-outline-success form-control">Crear un nuevo equipo</a>
    <table class="table table-striped table-hover">
        <thead>
            <th style="background-color: black; color: white; text-align: center;">ID</th>
            <th style="background-color: black; color: white; text-align: center;">NOMBRE DEL EQUIPO</th>
            <th style="background-color: black; color: white; text-align: center;">LIGA</th>
            <th style="background-color: black; color: white; text-align: center;">FUNDACIÓN</th>
            <th style="background-color: black; color: white; text-align: center;">PROPIETARIO</th>
            <th style="background-color: black; color: white; text-align: center;">JUGADORES</th>
            <th style="background-color: black; color: white; text-align: center;">ACCIONES</th>
        </thead>
        <tbody>
            {% for equipo in equipos %}
                <tr>
                    <td style="background-color: black; color: white; text-align: center;">{{ equipo.id }}</td>
                    <td style="background-color: gray;">{{ equipo.nombre }}</td>
                    <td style="background-color: rgb(186, 186, 186); text-align: center;">{{ equipo.liga }}</td>
                    <td style="background-color: rgb(214, 211, 211); text-align: center;">{{ equipo.fundacion|date:"Y-m-d" }}</td>
                    <td style="background-color: rgb(214, 211, 211); text-align: center;">{{ equipo.propietario.nombre }} {{ equipo.propietario.apellido }}</td>
                    <td style="background-color: rgb(214, 211, 211); text-align: center;">
                        {% for jugador in equipo.jugadores.all %}
                            {{ jugador.nombre }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td style="text-align: center;"><a href="{% url 'core:detail_equipos' equipo.id %}" class="btn btn-outline-info">Detalle</a></td>
                    <td style="text-align: center;"><a href="{% url 'core:update_equipos' equipo.id %}" class="btn btn-outline-warning">Actualizar</a></td>
                    <td style="text-align: center;"><a href="{% url 'core:delete_equipos' equipo.id %}" class="btn btn-outline-danger">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
