{% extends "base/base.html" %}

{% block title %}
VER LISTA PROPIETARIOS
{% endblock title %}

{% block content %}
<br>
<hr>
    <a href="{% url 'core:create_propietarios' %}" class="btn btn-outline-success form-control">Crear un nuevo propietario</a>
    <table class="table table-striped table-hover">
        <thead>
            <th style="background-color: black; color: white; text-align: center;">ID</th>
            <th style="background-color: black; color: white; text-align: center;">NOMBRE</th>
            <th style="background-color: black; color: white; text-align: center;">APELLIDO</th>
            <th style="background-color: black; color: white;"></th>
            <th style="background-color: black; color: white;"></th>
            <th style="background-color: black; color: white; text-align: center;">ACCIONES</th>
            <th style="background-color: black; color: white;"></th>
        </thead>
        <tbody>
            {% for propietario in propietarios %}
                <tr>
                    <td style="background-color: black; color: white;  text-align: center;">{{ propietario.id }}</td>
                    <td style="background-color: gray;">{{ propietario.nombre }}</td>
                    <td style="background-color: rgb(186, 186, 186); text-align: center; ">{{ propietario.apellido }}</td>
                    <td style="background-color: rgb(214, 211, 211); text-align: center; ">
                        {% for equipo in propietario.equipos.all %}
                            {{ equipo.nombre }}<br>
                        {% endfor %}
                    </td>
                    
                    <td style="text-align: center;"><a href="{% url 'core:detail_propietarios' propietario.id %}" class="btn btn-outline-info">Detalle</a></td>
                    <td style="text-align: center;"><a href="{% url 'core:update_propietarios' propietario.id %}" class="btn btn-outline-warning">Actualizar</a></td>
                    <td style="text-align: center;"><a href="{% url 'core:delete_propietarios' propietario.id %}" class="btn btn-outline-danger">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
{% endblock content %}
