{% extends "base/base.html" %}

{% block title %}
ELIMINAR VISTA DE PROPIETARIO DE ESTADIO
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
            <div class="card-header">Eliminar Propietario de Estadio</div>
            <div class="card-body">
                <h4 class="card-title">{{ object.propietario.nombre }} {{ object.propietario.apellido }}</h4>
                <p>¿Realmente deseas eliminar a este propietario de estadio?</p>
                <button type="submit" class="btn btn-danger">Eliminar Propietario de Estadio</button>
                <a href="{% url 'core:list_propietario_estadios' %}" class="btn btn-warning">Cancelar</a>
            </div>
        </div>
    </form>
{% endblock content %}
