{% extends "base/base.html" %}

{% block title %}
  DETALLE PROPIETARIO DE ESTADIO
{% endblock title %}

{% block content %}
  <h2>{{ propietario_estadio.propietario.nombre }} - {{ propietario_estadio.estadio.nombre }}</h2>
  <p>Información adicional sobre el propietario de estadio:</p>
  <ul>
    <li>ID: {{ propietario_estadio.id }}</li>
  </ul>
  <a href="{% url 'core:list_propietario_estadios' %}" class="btn btn-outline-info">Volver a la lista</a>
{% endblock content %}
