{% extends "base/base.html" %}

{% block title %}
  VER LISTA PROPIETARIOS DE ESTADIOS
{% endblock title %}

{% block content %}
<br>
<hr>
    <a href="{% url 'core:create_propietario_estadio' %}" class="btn btn-outline-success form-control">Crear un nuevo propietario de estadio</a>
    <table class="table table-striped table-hover">
        <thead>
            <th style="background-color: black; color: white; text-align: center;">ID</th>
            <th style="background-color: black; color: white; text-align: center;">PROPIETARIO</th>
            <th style="background-color: black; color: white; text-align: center;">ESTADIO</th>
            <th style="background-color: black; color: white; text-align: center;"></th>
            <th style="background-color: black; color: white; text-align: center;">ACCIONES</th>
            <th style="background-color: black; color: white; text-align: center;"></th>
        </thead>
        <tbody>
            {% for propietario_estadio in propietarios_estadios %}
                <tr>
                    <td style="background-color: black; color: white; text-align: center;">{{ propietario_estadio.id }}</td>
                    <td style="background-color: gray;">{{ propietario_estadio.propietario.nombre }}</td>
                    <td style="background-color: rgb(186, 186, 186); text-align: center; ">{{ propietario_estadio.estadio.nombre }}</td>
                    
                    <td style="text-align: center;"><a href="{% url 'core:detail_propietario_estadio' propietario_estadio.id %}" class="btn btn-outline-info">Detalle</a></td>
                    <td style="text-align: center;"><a href="{% url 'core:update_propietario_estadio' propietario_estadio.id %}" class="btn btn-outline-warning">Actualizar</a></td>
                    <td style="text-align: center;"><a href="{% url 'core:delete_propietario_estadio' propietario_estadio.id %}" class="btn btn-outline-danger">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
{% endblock content %}
