{% extends "base/base.html" %}

{% block title %}
  ACTUALIZAR PROPIETARIO DE ESTADIO
{% endblock title %}

{% block content %}
  <h2>Actualizar Propietario de Estadio</h2>
  <form action="" method="post" class="form" style="margin: 100px; color: rgb(0, 17, 112);">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-outline-success form-control" style="background-color: rgb(0, 70, 0); color: rgb(255, 255, 255);">Guardar Cambios</button>
    <br>
    <a href="{% url 'core:list_propietario_estadios' %}" class="btn btn-outline-warning form-control" style="background-color: rgb(172, 187, 0); color: rgb(255, 255, 255);" >Cancelar</a>
  </form>
{% endblock content %}
